@media(max-width: 584px){
    #container_area{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content_box form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    #container_area .content_box .category{
        flex-direction: column;
    }
}